body {
    text-align:center;
    background: magenta;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    color:white;
    padding:50px;
    margin:50px;
     }

a {
    color:white;
}

